@media (min-width:745px){


.galeria_productos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;
}

.galeria_productos .galeria_productos--titulo{
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.galeria_productos .galeria_productos--product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.galeria_productos .galeria_productos--product .product{
    text-align: center;
    padding: 3rem 2rem;
    background: #ffff;
    
}
.galeria_productos .galeria_productos--product .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}

.galeria_productos .galeria_productos--product .product img{
    height: 25rem;
}
.galeria_productos .galeria_productos--product .product:hover img{
    transform: scale(.9);
}
.galeria_productos .galeria_productos--product .product h6{
    padding: .5rem auto;
    font-size: 2rem;
    color: #444
}





}